<h1>Your Gists</h1>
<%= render @gists %>
<%= link_to "New Gist", new_gist_path %>

<script type='text/javascript'>
  $(function () {
    $('form.button_to').on('ajax:success', function (e) {
      $(e.target).parents('div').remove()
    })
  })
</script>
