// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag-list {
  ul {
    padding-left: 0;
  }
  li {
    background: blue;
    color: white;
    width: 150px;
    list-style: none;
    padding: 5px 5px;

    &:hover {
      cursor: pointer;
      background: green;
    }
  }
}